<% if(login_success && login_success.length>0){ %>
    <div class="modal top fade show" id="exampleModal" tabindex="-1"
      aria-labelledby="exampleModalLabel" aria-hidden="true" data-mdb-backdrop="true"
      data-mdb-keyboard="true" style="display: block;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Success</h5>
            <button type="button" class="btn-close" data-mdb-dismiss="modal"
              aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= login_success %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-mdb-dismiss="modal">
              Close
            </button>

          </div>
        </div>
      </div>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const modalElement = document.getElementById('exampleModal');
        const modalInstance = new mdb.Modal(modalElement);
        modalInstance.show();
      });
    </script>
    <% } %>

    <% if(error && error.length>0){ %>
        <div class="modal top fade show" id="exampleModal" tabindex="-1"
          aria-labelledby="exampleModalLabel" aria-hidden="true" data-mdb-backdrop="true"
          data-mdb-keyboard="true" style="display: block;">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Success</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal"
                  aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <%= error %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" data-mdb-dismiss="modal">
                  Close
                </button>
    
              </div>
            </div>
          </div>
        </div>
        <script>
          document.addEventListener('DOMContentLoaded', function () {
            const modalElement = document.getElementById('exampleModal');
            const modalInstance = new mdb.Modal(modalElement);
            modalInstance.show();
          });
        </script>
        <% } %>